root { 
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a4f54;
    background-color: #dfecf1;
    font-size: big;
}

a {
    color: red;
}

table {
    empty-cells: show;
}

form.jsfcrud_list_form th, td th {
    font-size: big;
    color: black;
    border-top-style: 1px solid black;
    border-bottom-style: 1px solid black;
    border-left-style: 1px solid black;
    border-right-style: 1px solid black;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-color: 1px solid black;
    border-bottom-color: 1px solid black;
    border-left-color: 1px solid black;
    border-right-color: 1px solid black;
    letter-spacing: 4px;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #b2d5d6;
}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
}

form.jsfcrud_list_form td, td td {
    border-top-style: 1px solid black;
    border-bottom-style: 1px solid black;
    border-left-style: 1px solid black;
    border-right-style: 1px solid black;
    border-top-width: 1px solid black;
    border-bottom-width: 1px solid black;
    border-left-width: 1px solid black;
    border-right-width: 1px solid black;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;
    vertical-align: baseline;
    padding-bottom: 1px solid black;
}

tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}


tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}
